USE [db_restaurante]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/05/2018 15:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/05/2018 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/05/2018 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/05/2018 15:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa](
	[empresa_id] [int] IDENTITY(1,1) NOT NULL,
	[estado_empresa_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [text] NULL,
	[ruc] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empresa_restaurante_usuario]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa_restaurante_usuario](
	[restaurante_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id_fk] [int] NOT NULL,
	[resturante_id_fk] [int] NULL,
	[usuarioASP_fk_Id] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_empresa]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_empresa](
	[estado_empresa_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_empresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_usuario]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_usuario](
	[estado_usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesa]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesa](
	[mesa_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mesa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_cabecera]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_cabecera](
	[pedido_cabecera_id] [int] IDENTITY(1,1) NOT NULL,
	[mesa_id_fk] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[precio_final] [money] NOT NULL,
	[estado] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_cabecera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_detalle]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_detalle](
	[pedido_detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_cabecera_id_fk] [int] NOT NULL,
	[plato_id_fk] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pedido_detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plato]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plato](
	[plato_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio] [money] NOT NULL,
	[categoria_plato_id_fk] [int] NOT NULL,
	[descripcion] [text] NOT NULL,
	[foto] [varchar](100) NOT NULL,
	[estado] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plato_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[plato_categoria]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plato_categoria](
	[plato_categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[plato_categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurante]    Script Date: 25/05/2018 15:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante](
	[restaurante_id] [int] IDENTITY(1,1) NOT NULL,
	[empresa_id_fk] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[foto] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurante_tipo]    Script Date: 25/05/2018 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurante_tipo](
	[restaurante_tipo_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurante_id_fk] [int] NOT NULL,
	[tipo_restaurante_id_fk] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurante_tipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_restaurante]    Script Date: 25/05/2018 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_restaurante](
	[tipo_restaurante_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_restaurante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 25/05/2018 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_tipo_id_fk] [int] NOT NULL,
	[estado_usuario_id_fk] [int] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[usuario_password] [varchar](100) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[dni] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario_tipo]    Script Date: 25/05/2018 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario_tipo](
	[usuario_tipo_id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_tipo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'601223bd-81b4-4651-b9cc-adf45dc7f8f5', N'admin@pideya.com', 0, N'AB7ZIO9VuirqHk9JpU4R0/S5uqLgfBHMBS7UmnLDO6UwQv3tThzEvWCsY/tjgezgpw==', N'57a02f22-04b7-4df1-a819-2ef7f686080d', NULL, 0, 0, NULL, 1, 0, N'admin@pideya.com')
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([empresa_id], [estado_empresa_id_fk], [nombre], [descripcion], [ruc]) VALUES (1, 3, N'Pollón', N'Pollería', N'01234567891')
SET IDENTITY_INSERT [dbo].[empresa] OFF
SET IDENTITY_INSERT [dbo].[empresa_restaurante_usuario] ON 

INSERT [dbo].[empresa_restaurante_usuario] ([restaurante_usuario_id], [empresa_id_fk], [resturante_id_fk], [usuarioASP_fk_Id]) VALUES (1, 1, 1, N'601223bd-81b4-4651-b9cc-adf45dc7f8f5')
SET IDENTITY_INSERT [dbo].[empresa_restaurante_usuario] OFF
SET IDENTITY_INSERT [dbo].[estado_empresa] ON 

INSERT [dbo].[estado_empresa] ([estado_empresa_id], [nombre]) VALUES (2, N'Deshabilitado')
INSERT [dbo].[estado_empresa] ([estado_empresa_id], [nombre]) VALUES (3, N'Habilitado')
SET IDENTITY_INSERT [dbo].[estado_empresa] OFF
SET IDENTITY_INSERT [dbo].[mesa] ON 

INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (1, 1, N'Activo')
INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (3, 1, N'Activo')
INSERT [dbo].[mesa] ([mesa_id], [restaurante_id_fk], [estado]) VALUES (4, 1, N'Activo')
SET IDENTITY_INSERT [dbo].[mesa] OFF
SET IDENTITY_INSERT [dbo].[pedido_cabecera] ON 

INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (1, 1, CAST(N'2018-05-26' AS Date), 50.0000, N'Inactivo')
INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (4, 3, CAST(N'2018-05-26' AS Date), 50.0000, N'Activo')
INSERT [dbo].[pedido_cabecera] ([pedido_cabecera_id], [mesa_id_fk], [fecha], [precio_final], [estado]) VALUES (7, 4, CAST(N'2018-05-26' AS Date), 50.0000, N'Activo')
SET IDENTITY_INSERT [dbo].[pedido_cabecera] OFF
SET IDENTITY_INSERT [dbo].[pedido_detalle] ON 

INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (4, 1, 4, 2, 50.0000)
INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (5, 1, 6, 2, 150.0000)
INSERT [dbo].[pedido_detalle] ([pedido_detalle_id], [pedido_cabecera_id_fk], [plato_id_fk], [cantidad], [precio]) VALUES (6, 1, 8, 1, 10.0000)
SET IDENTITY_INSERT [dbo].[pedido_detalle] OFF
SET IDENTITY_INSERT [dbo].[plato] ON 

INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (4, 1, N'1/4 de Pollo', 9.0000, 1, N'1/4 de Pollo', N'asd', N'Activo')
INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (6, 1, N'1/2 Pollo', 18.0000, 1, N'1/2 Pollo', N'asdasd', N'Activo')
INSERT [dbo].[plato] ([plato_id], [restaurante_id_fk], [nombre], [precio], [categoria_plato_id_fk], [descripcion], [foto], [estado]) VALUES (7, 1, N'Inka Cola de Litro', 5.0000, 3, N'Gaseosa', N'asdas', N'Activo')
SET IDENTITY_INSERT [dbo].[plato] OFF
SET IDENTITY_INSERT [dbo].[plato_categoria] ON 

INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (1, N'Vegetariano')
INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (2, N'Parrillas')
INSERT [dbo].[plato_categoria] ([plato_categoria_id], [nombre]) VALUES (3, N'Fritura')
SET IDENTITY_INSERT [dbo].[plato_categoria] OFF
SET IDENTITY_INSERT [dbo].[restaurante] ON 

INSERT [dbo].[restaurante] ([restaurante_id], [empresa_id_fk], [nombre], [foto]) VALUES (1, 1, N'Pollón 1', N'aasd.jpeg')
SET IDENTITY_INSERT [dbo].[restaurante] OFF
ALTER TABLE [dbo].[empresa] ADD  DEFAULT ('') FOR [ruc]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[empresa]  WITH CHECK ADD FOREIGN KEY([estado_empresa_id_fk])
REFERENCES [dbo].[estado_empresa] ([estado_empresa_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD FOREIGN KEY([empresa_id_fk])
REFERENCES [dbo].[empresa] ([empresa_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD FOREIGN KEY([resturante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.empresa_restaurante_usuario_dbo.AspNetUsers_usuarioASP_fk_Id] FOREIGN KEY([usuarioASP_fk_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[empresa_restaurante_usuario] CHECK CONSTRAINT [FK_dbo.empresa_restaurante_usuario_dbo.AspNetUsers_usuarioASP_fk_Id]
GO
ALTER TABLE [dbo].[mesa]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[pedido_cabecera]  WITH CHECK ADD FOREIGN KEY([mesa_id_fk])
REFERENCES [dbo].[mesa] ([mesa_id])
GO
ALTER TABLE [dbo].[pedido_detalle]  WITH CHECK ADD FOREIGN KEY([pedido_cabecera_id_fk])
REFERENCES [dbo].[pedido_cabecera] ([pedido_cabecera_id])
GO
ALTER TABLE [dbo].[pedido_detalle]  WITH CHECK ADD FOREIGN KEY([plato_id_fk])
REFERENCES [dbo].[plato] ([plato_id])
GO
ALTER TABLE [dbo].[plato]  WITH CHECK ADD FOREIGN KEY([categoria_plato_id_fk])
REFERENCES [dbo].[plato_categoria] ([plato_categoria_id])
GO
ALTER TABLE [dbo].[plato]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[restaurante]  WITH CHECK ADD FOREIGN KEY([empresa_id_fk])
REFERENCES [dbo].[empresa] ([empresa_id])
GO
ALTER TABLE [dbo].[restaurante_tipo]  WITH CHECK ADD FOREIGN KEY([restaurante_id_fk])
REFERENCES [dbo].[restaurante] ([restaurante_id])
GO
ALTER TABLE [dbo].[restaurante_tipo]  WITH CHECK ADD FOREIGN KEY([tipo_restaurante_id_fk])
REFERENCES [dbo].[tipo_restaurante] ([tipo_restaurante_id])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([estado_usuario_id_fk])
REFERENCES [dbo].[estado_usuario] ([estado_usuario_id])
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([usuario_tipo_id_fk])
REFERENCES [dbo].[usuario_tipo] ([usuario_tipo_id])
GO
